<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link href="../../../../styles/helper.css" rel="stylesheet" />
		<link href="../../../../styles/siteIcons.css" rel="stylesheet" />
		<!-- build:bundleCSSFiles -->
		<link rel="stylesheet" href="../assets/base.css" />
		<link rel="stylesheet" href="css/content.css" />
		<link rel="stylesheet" href="../assets/linearicons/cpIcons.css" />
		<link rel="stylesheet" href="sortableList.css" />
		<!-- endbuild -->

		<!-- build:bundleControlBFMinJS  -->
		<!-- endbuild -->
		<script src="../../../../scripts/buildfire.js"></script>
		<script src="../../../../scripts/sortable.min.js"></script>
		<script src="../../../../scripts/buildfire/components/actionItems/sortableList.js"></script>

		<script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
		<script src="../../../../scripts/angular/angular.min.js"></script>
		<script src="../../../../scripts/angular/angular-route.min.js"></script>
		<script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>

		<!-- build:bundleDataJSFiles  -->
		<script src="../../widget/data/user.js"></script>
		<script src="../../widget/dataAccess/users.js"></script>
		<script src="../../widget/dataAccess/badges.js"></script>
		<!-- endbuild -->

		<!-- build:bundleSharedJSFiles  -->
		<script src="../../widget/js/shared/settings.class.js"></script>
		<!-- endbuild -->

		<!-- build:bundleJSFiles  -->
		<script src="js/app.js"></script>
		<script src="js/sortableList.js"></script>
		<script src="js/sortableListUI.js"></script>
		<!-- endbuild -->
	</head>
	<body ng-app="directoryContent">
		<div ng-controller="directoryContentCtrl">
			<div class="input-row">
				<p class="label-container">Auto enlist all users</p>
				<div class="button-switch margin-left-auto">
					<input id="enlistUsers" type="checkbox" ng-model="data.autoEnlistAll" />
					<label for="enlistUsers"></label>
				</div>
			</div>

			<div class="margin-bottom-thirty">
				<p class="info">BuildFire is not liable for any compliance issues</p>
			</div>

			<div class="input-row">
				<p class="label-container margin-bottom-zero">Auto enlist all users with the following tags</p>

				<div class="tags input-container">
					<ul class="tag-list">
						<li class="tag-item" ng-repeat="tag in data.autoEnlistTags">
							<span>{{ tag }}</span>
							<a class="remove-button" ng-click="removeTag(tag)">×</a>
						</li>
					</ul>
					<form ng-submit="applyTag()">
						<input class="input" type="text" ng-model="tagName" placeholder="Add a tag" />
					</form>
					<span class="input" style="visibility: hidden; width: auto; white-space: pre; display: none;">Add a tag</span>
				</div>
			</div>

			<h1 class="title margin-bottom-thirty">User Action</h1>
				<p class="label-container">Action Item</p>
			<div class="single-action-item">
				<div class="action-info"  ng-if="!data.actionItem">
					<div>
						<p class="margin-right-twenty caption">Action Title:</p>
						<p class="bold strong">Message User</p>
					</div>
					<div>
						<p class="margin-right-twenty caption">Action Type:</p>
						<p class="bold strong">messageUser</p>
					</div>
				</div>
				<div class="action-info" ng-if="data.actionItem">
					<div>
						<p class="margin-right-twenty caption">Action Title:</p>
						<p class="bold strong">{{ data.actionItem.title }}</p>
					</div>
					<div>
						<p class="margin-right-twenty caption">Action Type:</p>
						<p class="bold strong">{{ data.actionItem.action }}</p>
					</div>
				</div>
				<div class="actions-container margin-left-auto">
					<button class="btn btn-primary" ng-click="editAction()">Edit Action</button>
					<button class="btn btn-danger" ng-click="editAction(true)" ng-disabled="!data.actionItem">Reset</button>
				</div>
			</div>
				

			<h1 class="title margin-bottom-thirty">Badges</h1>
			<p class="info margin-bottom-twenty">To make your badges look good on the app, make sure to submit 80 x 80px images. The badges will be displayed at a minimum of 18 x 18px.</p>
			
			<div class="badges-input-group">
				<div>
					<label>Icon</label>	
					<button class="btn btn-default new-badge-image" ng-click="pickImage()">
						<img ng-if="badge.imageUrl" ng-src="{{ badge.imageUrl | cropImg }}" />
						<span ng-if="!badge.imageUrl" class="icon icon-plus"></span>
					</button>
				</div>
				<div class="badge-name">
					<label for="">Badge Name</label>
					<input type="text" ng-model="badge.name" />
				</div>
				<div class="tag-name">
					<label for="">Tags</label>
					<input type="text" ng-model="badge.tag" />
				</div>
				<div class="tag-count">
					<label for="">Tag Count</label>
					<input type="number" ng-model="badge.tagCount" />
				</div>
				<button class="btn btn-success" ng-click="addBadge()"><span class="icon icon-plus"></span> Add</button>
			</div>

			<div id="badges"></div>
			<div class="container">
				<div class="row">
					<h1 class="title">New Badge Dialog</h1>
	
					<p class="pull-left">Send push notification if a new Badge is earned</p>
					<div class="button-switch pull-right">
						<input id="pushNotifications" type="checkbox" ng-model="data.badgePushNotifications" />
						<label for="pushNotifications" ></label>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
