<!DOCTYPE html>
<html>
<head lang="en">
    <!-- CSS -->
    <link href="../../../../styles/helper.css" rel="stylesheet">
    <link href="../../../../styles/siteIcons.css" rel="stylesheet">
    <link href="./assets/css/control.settings.css" rel="stylesheet">
    <link href="./assets/css/bf_base.css" rel="stylesheet">

    <!--SDK js-->
    <script src="../../../../scripts/buildfire.min.js"></script>
    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="../../../../scripts/angular/angular-route.min.js"></script>
    <script src="../../../../scripts/angular/angular-animate.min.js"></script>
    <script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>
    <script src="../../../../scripts/buildfire/components/images/thumbnail.js"></script>

	<!-- build:bundleDataJSFiles  -->
    <script src="../../widget/dataAccess/users.js"></script>
    <script src="../..//widget/dataAccess/badges.js"></script>
    <script src="../../widget/dataAccess/categories.js"></script>
    <script src="../../widget/data/category.js"></script>
    <script src="../../widget/data/subcategory.js"></script>
    <!-- endbuild -->

    <!-- build:bundleSharedJSFiles  -->
<script src="../../widget/js/shared/settings.class.js"></script>
<script src="../../widget/js/shared/keys.js"></script>
    <script src="../../widget/js/shared/analytics.js"></script>
    <!-- endbuild -->
    <!-- JS -->
    <script src="app.js"></script>
    <!-- <script src="../content/js/sortableList.js"></script>
    <script src="../content/js/sortableListUI.js"></script> -->

    <!-- <script src="enums.js"></script> -->
    <!-- <script src="services.js"></script> -->
    <!-- Controllers -->
    <script src="controllers/settings.home.controller.js"></script>
    <meta charset="UTF-8">
</head>
<body ng-app="directorySettings">
<div class="main_view">
    
    <div class="content" ng-controller="SettingsCtrl">

        <div class="user-sittings">
            <h1 class="title margin-bottom-thirty">User Settings</h1>
   <section class="rows-container">
       <div class="row-sitting">
        <p class="label-container">Auto enlist all users</p>         
          <div class="button-switch margin-left-auto">
            <input id="enlistUsers" type="checkbox" checked="data.autoEnlistAll" ng-model="data.autoEnlistAll" />
            <label class="label-success" for="enlistUsers"></label>
        </div>
       </div>
       <div class="row-sitting">
        <p class="label-container">Allow users to view other users profiles</p>  
                  <div class="button-switch margin-left-auto">
            <input id="showProfile" type="checkbox" checked="data.allowShowProfileComponent" ng-model="data.allowShowProfileComponent" />
            <label class="label-success" for="showProfile"></label>
        </div>
       </div>
       <div class="row-sitting">
           <section class="sub-container">
               <p class="label-container">New Badge Push Notifications

            <span class="customTooltipBox btn-primary">

                <span class="customTooltipText">Send a push notification to directory members when someone receives a new badge</span>
            </span>
               </p> 

           </section>
                   <div class="button-switch margin-left-auto">
            <input id="badgePushNotifications" type="checkbox" checked="data.badgePushNotifications" ng-model="data.badgePushNotifications" />
            <label class="label-success" for="badgePushNotifications"></label>
        </div>
       </div>
       <div class="row-sitting">
        <p class="label-container">Users Subtitle Appearance</p> 
        <span class="radios-row">

        <div class="radio radio-primary radio-inline">
            <input id="hide" type="radio" name="toggleText" class="" value='HIDE' checked={{data.userSubtitleShowMode==Keys.userSubtitleShowModeKeys.HIDE.key}} ng-model="data.userSubtitleShowMode">
            <label class="subtitles-labels" for="hide">Hide</label>
        </div>
        <div class="radio radio-primary radio-inline">
            <input id="ShowEmail" type="radio" name="toggleText" class="" value='SHOW_EMAIL' checked={{data.userSubtitleShowMode==Keys.userSubtitleShowModeKeys.SHOW_EMAIL.key}} ng-model="data.userSubtitleShowMode">
            <label class="subtitles-labels"  for="ShowEmail">Show Email</label>
        </div>
        <div class="radio radio-primary radio-inline">
            <input id="ShowPhoneNumber" type="radio" name="toggleText" class="" value="SHOW_PHONE_NUMBER" ng-model="data.userSubtitleShowMode" checked={{data.userSubtitleShowMode==Keys.userSubtitleShowModeKeys.SHOW_PHONE_NUMBER.key}}>
            <label id="last-label" class="subtitles-labels" for="ShowPhoneNumber">Show Phone Number</label>
        </div>
    </span>

       </div>
       <div class="row-sitting">
        <p class="label-container">Sort Users By</p> 
        <div class="select-container flex-auto dropdown settings-dropdown">
            <select class="flex-auto" ng-model="data.ranking">
                <option ng-selected="data.ranking === rank.value" ng-repeat="rank in rankingOptions" ng-value="rank.value">{{ rank.label }}</option>
            </select>
        </div>
        <!-- <div class="dropdown" dropdown is-open="status.isopen">
            <button class="btn btn-default text-left dropdown-toggle sort-dropdown settings-dropdown" dropdown-toggle
                ng-disabled="disabled" aria-expanded="true">
                <span class="pull-left">{{ContentCategory.item.data.sortByValue || 'Newest'}}</span>
                <span class="chevron icon-chevron-down pull-right"></span>
            </button>
            <ul class="dropdown-menu extended" role="menu">
                <li ng-repeat="option in ContentCategory.sortOptions"
                    ng-click="ContentCategory.toggleSortOrder(option.name)">
                    <a tabindex="-1" class="transition-third">{{option.value}}</a>
                </li>
            </ul>
        </div> -->
        <!-- <button class="btn btn-default text-left dropdown-toggle sort-dropdown settings-dropdown" dropdown-toggle
        ng-disabled="disabled" aria-expanded="true">
        <span class="pull-left">Newest</span>
        <span class="chevron icon-chevron-down pull-right"></span>
    </button> -->
       </div>

   </section>
        </div>

<br>
        <div class="map-filtering">
            <h1 class="title margin-bottom-thirty">Map & Filtering</h1>
            <section class="rows-container">
                <div class="row-sitting">
                    <p class="label-container">Show Map</p> 
                               <div class="button-switch margin-left-auto">
                        <input id="mapEnabled" type="checkbox" checked="data.mapEnabled" ng-model="data.mapEnabled" />
                        <label class="label-success" for="mapEnabled"></label>
                    </div>
                   </div>
                   <div class="row-sitting">
                    <p class="label-container">Enable Filtering</p> 
                               <div class="button-switch margin-left-auto">
                        <input id="filtersEnabled" type="checkbox" checked="data.filtersEnabled" ng-model="data.filtersEnabled" />
                        <label class="label-success" for="filtersEnabled"></label>
                    </div>
                   </div>
            </section>

        </div>
   <!-- <button ng-click="createMockCategory()">Create Mock Category</button>
    <div class="input-row">
        <p class="label-container">Auto enlist all users</p>
        <div class="button-switch margin-left-auto">
            <input id="enlistUsers" type="checkbox" ng-model="data.autoEnlistAll" />
            <label for="enlistUsers"></label>
        </div>
    </div>

    <div class="margin-bottom-thirty">
        <p class="info" ng-if="data.autoEnlistAll">We assume no liability for any privacy compliance issues. Consult your local laws and regulations.</p>
    </div>

<div class="input-row">
        <p class="label-container">Allow users to view other users profiles</p>
        <div class="button-switch margin-left-auto">
            <input id="allowShowProfileComponent" type="checkbox" ng-model="data.allowShowProfileComponent" />
            <label for="allowShowProfileComponent"></label>
        </div>
    </div>

    <div class="input-row">
        <p class="label-container tooltip-container">Enable Map View <span class="tip btn-info-icon btn-primary"><span class="cp-tooltip">User will be grouped based on their location, please enable the Location question in the login screen</span></span></p>
        <div class="button-switch margin-left-auto">
            <input id="mapEnabled" type="checkbox" ng-model="data.mapEnabled" />
            <label for="mapEnabled"></label>
        </div>
    </div>

    <div class="input-row">
        <p class="label-container margin-bottom-zero">Only allow users with the following tags</p>

        <div class="tags input-container">
            <ul class="tag-list">
                <li class="tag-item" ng-repeat="tag in data.tagFilter">
                    <span>{{ tag }}</span>
                    <a class="remove-button" ng-click="removeTag(tag)"><span class="icon icon-cross2"></span></a>
                </li>
            </ul>
            <form ng-submit="applyTag()">
                <input class="input" type="text" ng-model="tagName" placeholder="Add a tag" />
            </form>
            <span class="input" style="visibility: hidden; width: auto; white-space: pre; display: none;">Add a tag</span>
        </div>
    </div>






    
    <h1 class="title">New Badge Push Notifications</h1>

    <div class="margin-bottom-twenty clearfix">
        <p class="pull-left">Send a push notification to directory members when someone receives a new badge</p>
        <div class="button-switch pull-right">
            <input id="pushNotifications" type="checkbox" ng-model="data.badgePushNotifications" />
            <label for="pushNotifications" ></label>
        </div>
    </div>

    <h1 class="title">User Sorting</h1>

    <div class="input-row">
        <p class="label-container">Sort users by:</p>
        <div class="select-container flex-auto">
            <select class="flex-auto" ng-model="data.ranking">
                <option ng-selected="data.ranking === rank.value" ng-repeat="rank in rankingOptions" ng-value="rank.value">{{ rank.label }}</option>
            </select>
        </div>
</div>

<h1 class="title">Users Subtitle Appearance</h1>

    <div class="input-row">
        <p class="label-container">Set appearance:</p>
        <div class="select-container flex-auto">
            <select class="flex-auto" ng-model="data.userSubtitleShowMode" ng-options="item.key as item.title for item in userSubtitleShowModeOptions">
            </select>
        </div>
    </div> -->

</div>
    </div>
</div>
</body>
</html>